__pycache__/
.coverage
.env
.ipynb_checkpoints
.vscode/launch.json
*.DS_Store
*.egg-info/
build/
coverage.xml
dist/
docs/
output/
tests/cache
tests/generated_json_schemas
tmp/
user_docs/
scripts/pdoc/original.py
scripts/pdoc/patched.py
