__pycache__/
.coverage
.env
.ipynb_checkpoints
.vscode/launch.json
*.DS_Store
*.egg-info/
build/
coverage.xml
dist/
output/
tests/generated_json_schemas
tmp/
user_docs/
scripts/pdoc/original.py
scripts/pdoc/patched.py
bioimageio_cache/
example/my_bioimageio_dataset.zip
example/my_model.zip
